{% extends "base.html" %}

{% block title %}Projects - Long Form Video{% endblock %}

{% block content %}
<div x-data="{ showNewProject: false }">
    <h1>Your Projects</h1>

    <button @click="showNewProject = true">New Project</button>

    <div x-show="showNewProject" x-cloak>
        <form hx-post="/api/projects" hx-swap="afterbegin" hx-target="#projects-list">
            <input type="text" name="name" placeholder="Project name" required>
            <button type="submit">Create</button>
            <button type="button" @click="showNewProject = false">Cancel</button>
        </form>
    </div>

    <div id="projects-list">
        <!-- Projects will be loaded here -->
    </div>
</div>
{% endblock %}
